* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

#nav {
  padding: 50px 0px;
}
#nav .ul1 ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
#nav .ul1 ul li a {
  text-decoration: none;
  color: #292930;
  font-weight: 700;
  font-size: 15px;
}
@media (max-width: 768px) {
  #nav .ul1 ul li {
    display: none;
  }
}
#nav .div1 ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
#nav .div1 ul li input {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  width: 220px;
  height: 40px;
}
@media (max-width: 768px) {
  #nav .div1 ul li input {
    display: none;
  }
}
#nav .div1 ul li a {
  color: #292930;
  font-weight: 300;
  transition: 0.5s ease-in-out;
}

#banner {
  background: #f8f8f8;
  padding: 50px 0px;
}
#banner .banner_item ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#banner .banner_item ul li {
  color: #3577f0;
}
#banner .banner_item ul li a {
  text-decoration: none;
  color: #999;
  transition: 0.3s ease-in-out;
}
#banner .banner_item ul li a:hover {
  color: #3577f0;
}
#banner .banner_item ul li i {
  color: #999;
}
#banner .div2 {
  position: relative;
  text-align: right;
}

#banner2 {
  padding: 50px 0px;
}
@media (max-width: 768px) {
  #banner2 .banner2_items {
    display: none;
  }
}
#banner2 .banner2_items h6 {
  font-size: 22px;
  width: 200px;
  border-bottom: 3px solid #3577f0;
  padding: 10px 0px;
}
#banner2 .banner2_items .div3 ul li {
  list-style: circle;
}
#banner2 .banner2_items .div3 ul li a {
  text-decoration: none;
  color: #999;
  font-size: 17px;
}
@media (max-width: 768px) {
  #banner2 .div4 {
    display: none;
  }
}
#banner2 .div4 button {
  color: #fff;
  background: #3577f0;
  border-radius: 3px;
  border: 1px;
  width: 220px;
  height: 50px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
#banner2 .div4 button:hover {
  transform: scale(1.1);
}
#banner2 .game {
  position: relative;
}
#banner2 .game:hover .li {
  transform: translateY(-10px);
  opacity: 1;
}
#banner2 .game .img {
  overflow: hidden;
  width: 276px;
  height: 276px;
}
#banner2 .game .img img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
#banner2 .game .img img:hover {
  transform: scale(1.1);
}
#banner2 .game .li {
  position: absolute;
  bottom: 0px;
  left: 0;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.3s ease-in-out;
}
#banner2 .game .li ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
#banner2 .game .li ul li i {
  background: #fff;
  width: 30px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner2 .game .li ul li button {
  color: #fff;
  background: #ff497c;
  border-radius: 3px;
  border: 1px;
  width: 120px;
  height: 40px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
#banner2 .game .li ul li button:hover {
  transform: scale(1.1);
}

.text a {
  text-decoration: none;
  color: #999;
}
.text a:hover {
  color: #3577f0;
}
.text p {
  font-weight: 500;
  font-size: 22px;
}
.text p del {
  color: #999;
}/*# sourceMappingURL=style.css.map */